
$medium-medium-line-height: 24px;
$font-family: Helmet;
$small-medium-font-weight: normal;
$xsmall-medium-font-size: 0.75rem;
$xsmall-medium-line-height: 16px;
$xxxlarge-medium-font-weight: normal;
$xxxxxlarge-medium-font-weight: normal;
$xlarge-medium-font-weight: normal;
$font-weight-medium: 500;
$small-medium-font-size: 0.875rem;
$small-medium-line-height: 21px;
$xxxxlarge-medium-font-weight: normal;
$xxlarge-medium-font-weight: normal;
$large-medium-font-weight: normal;
$xlarge-medium-font-size: 1.25rem;
$xxxlarge-medium-font-size: 1.875rem;
$xxxxxlarge-medium-font-size: 3rem;
$xxxlarge-medium-line-height: 45px;
$xxxxxlarge-medium-line-height: 72px;
$xlarge-medium-line-height: 30px;
$medium-medium-font-weight: normal;
$xxxxlarge-medium-font-size: 2.25rem;
$xxlarge-medium-font-size: 1.5rem;
$large-medium-font-size: 1.125rem;
$xxxxlarge-medium-line-height: 54px;
$xxlarge-medium-line-height: 30px;
$large-medium-line-height: 27px;
$font-weight-bold: bold;
$xsmall-medium-font-weight: normal;
$font-weight-normal: normal;
$medium-medium-font-size: 1rem;
