
$medium-medium-line-height: 24px;
$font-family: Helmet;
$small-medium-font-weight: normal;
$xsmall-medium-font-size: 0.75rem;
$xsmall-medium-line-height: 16px;
$xlarge-medium-font-weight: normal;
$font-weight-medium: 500;
$small-medium-font-size: 0.875rem;
$small-medium-line-height: 21px;
$large-medium-font-weight: normal;
$xlarge-medium-font-size: 1.25rem;
$xlarge-medium-line-height: 30px;
$medium-medium-font-weight: normal;
$large-medium-font-size: 1.125rem;
$large-medium-line-height: 27px;
$font-weight-bold: bold;
$xsmall-medium-font-weight: normal;
$font-weight-normal: normal;
$medium-medium-font-size: 1rem;
